html, body {
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    height: 100vh;
    margin: 0;
    background-color: cadetblue;
}

.title {
    font-size: 84px;
}

.title.m-b-md {
    margin-top: 50px;
    font-weight: 100;
    margin-bottom: 15px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.full-height {
    height: 100vh;
}

.cut-height {
    height: 30vh;
}

.flex {
    display: flex;
}

ul.flex-list li, ul.pagination {
    display: flex;
    list-style: none;
}

ul.flex-list li {
    justify-content: space-between;
    align-items: center;
    padding: 2px 0;
}

ul.flex-list li div, ul.pagination li {
    padding: 0 10px;
}

.f-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}



.angular-js-container {
    color: black;
    font-weight: 400;
}

.angular-js-container table caption {
    text-align: center;
    color: black;
}

.angular-js-container tr td {
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
    text-align: center;
}

.angular-js-container .sort-buttons td a.btn {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    text-align: left;
}

.angular-js-container tr td.sorted-col {
    background-color: rgba(245, 245, 220, 0.57);
}

.angular-js-container table  tr > td {
    padding: 5px;
}

.angular-js-container tr td:nth-child(3) input {
    width: 76px;
}

.angular-js-container tr td:nth-child(4) input {
    width: 100px;
}

.angular-js-container tr td:nth-child(5),
.angular-js-container tr td:nth-child(5) input,
.angular-js-container tr td:nth-child(6),
.angular-js-container tr td:nth-child(6) input {
    width: 100px;
}

.angular-js-container tr td:nth-child(7),
.angular-js-container tr td:nth-child(7) input {
    width: 250px;
}


.angular-js-container tr td:nth-child(8),
.angular-js-container tr td:nth-child(8) input {
    width: 50px;
}

.angular-js-container tr td:nth-child(9),
.angular-js-container tr td:nth-child(9) input,
.angular-js-container tr td:nth-child(9) a.btn {
    width: 30px;
    text-overflow: clip;
    overflow: hidden;
}
